Sigma[[:space:]]MERN[[:space:]]Stack[[:space:]]Slides/*.pdf filter=lfs diff=lfs merge=lfs -text
Sigma[[:space:]]MERN[[:space:]]Stack[[:space:]]Slides/Original/**/*.rar filter=lfs diff=lfs merge=lfs -text
Sigma[[:space:]]MERN[[:space:]]Stack[[:space:]]Slides/Original/**/*.zip filter=lfs diff=lfs merge=lfs -text
